<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Calendar</title>

		<link href="/CMSPages/GetResource.ashx?stylesheetname=SW-Base" type="text/css" rel="stylesheet" />
		<link href="/CMSPages/GetResource.ashx?stylesheetname=SW-Type" type="text/css" rel="stylesheet" />
		<link href="/CMSPages/GetResource.ashx?stylesheetname=SW-SiteElements" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="weekly-calendar">
		</div>

		<script type="text/template" id="template-calendar">
			<div class="clndr-controls">
				<div class="clndr-previous-button">&lsaquo;</div>
				<div class="month"><%= month %></div>
				<div class="clndr-next-button">&rsaquo;</div>
			</div>
			<div class="clndr-grid">
				<div class="days-of-the-week">
					<% _.each(daysOfTheWeek, function(day) { %>
						<div class="header-day"><%= day %></div>
					<% }); %>
					<div class="days">
						<% _.each(days, function(day) { %>
							<div class="<%= day.classes %>"><%= day.day %></div>
						<% }); %>
					</div>
				</div>
			</div>
			<div class="clndr-today-button">Today</div>
		</script>
		<script data-main="/sw/scripts/main.js" src="/sw/scripts/lib/require/require.js"></script>
	</body>
</html>